.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
}

/* Header */
.header {
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: #fff;
  padding: 30px 20px 30px 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.loginBtn {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.loginBtn:hover {
  background-color: #f2f2f2;
}

.hero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.heroContent {
  text-align: center;
  color: #fff;
  max-width: 600px;
}

.heroContent h1 {
  font-size: 36px;
  margin-bottom: 14px;
}

.heroContent p {
  font-size: 16px;
  margin-bottom: 20px;
}

.heroBtn {
  background-color: #ffffff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 20px 30px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(255, 255, 255, 0.25);
}

.footer {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  color: #fff;
  padding: 30px 20px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footerLogo {
  font-size: 24px;
  font-weight: bold;
}

.footerSocial a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.footerSocial a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.footerCopyright {
  text-align: center;
}

/* Media Queries */
@media (min-width: 768px) {
  .header {
    padding: 50px 100px 50px 100px;
  }

  .logo {
    font-size: 34px;
  }

  .hero {
    padding: 0px;
  }

  .loginBtn {
    padding: 15px 50px;
    font-size: 24px;
  }

  .heroContent h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .heroContent p {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .heroBtn {
    padding: 20px 50px;
    font-size: 24px;
  }

  .footer {
    padding: 40px 100px;
  }

  .footerLogo {
    font-size: 34px;
  }

  .footerSocial a {
    font-size: 40px;
  }
}
