.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px 50px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.backArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.backArrow:hover {
  border: 2px solid #000;
}

.backArrowIcon {
  color: #fff;

  transition: all 0.2s ease-in-out;
}

.backArrow:hover .backArrowIcon {
  color: #000;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.userIcon {
  font-size: 30px;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.userProfile:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.userProfile:hover .userIcon {
  color: #fff;
}

/* Media Queries */
@media (min-width: 425px) {
  .userProfile {
    width: 70px;
    height: 70px;
  }

  .userIcon {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .userProfile {
    width: 100px;
    height: 100px;
  }

  .userIcon {
    font-size: 50px;
  }
}
